@using X.PagedList
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<CountryListVm>
<div class="w-75 mx-auto">

    <div class="row mb-3">
        <div class="col-6">
            <h1>Country List</h1>

        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Countries" asp-action="Create">
                <i class="bi bi-plus-circle"></i>
                Create New Country
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.First().CountryName"></label>
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CountryName
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Countries" asp-action="Edit" asp-route-id="@item.CountryId">
                            <i class="bi bi-pencil-fill"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" asp-controller="Countries" asp-action="Delete" asp-route-id="@item.CountryId">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination", "justify-content-center" },

            LinkToFirstPageFormat = "<i class='bi bi-chevron-double-left'></i>",
            LinkToPreviousPageFormat = "<i class='bi bi-chevron-left'></i>",
            LinkToNextPageFormat = "<i class='bi bi-chevron-right'></i>",
            LinkToLastPageFormat = "<i class='bi bi-chevron-double-right'></i>",

            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,

            DisplayLinkToIndividualPages = true,
            MaximumPageNumbersToDisplay = 5
        }
        )
</div>
